// Sass Variables
$color-primary: #2f9d8c;
$color-secondary: #0d263e;
$color-heading: #0d263e;
$color-body: #848e9f;
$color-dark: #222222;
$color-black: #000000;
$color-gray: #f9f9f9;
$color-white: #ffffff;

$font-heading: 'Quicksand',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 14px;